*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(14, 89, 121);
    color:darkred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 70vh;
    width: 70vw;
    padding: 40px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 17px;
    display: grid;
    grid-template-rows: 40px 40px 40px 40px 40px;
    gap: 40px;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(14px);
    box-shadow: 2px 2px 17px rgb(0, 0, 0), inset 2px 2px 17px rgba(255, 255, 255, 0.521);
}

input{
    border-radius: 17px;
    border: 2px double;
}

input:focus{
    border-color: darkcyan;
    outline: none;
}

input:empty{
    padding: 10px;
}

button{
    border-radius: 17px;
    border: 4px ridge darkslategrey;
    background: darkslategray;
}